 
<%= form_with model: @note, class:'grid grid-cols-1 gap-y-6' do |form| %>
     
    <% if @note.errors.any? %>
        <% @note.errors.each do |error| %>
             <%= error.full_message %>
        <% end %>
    <% end %>

<div>
    <%= form.label :name, class:'text-grey-700 text-sm font-medium' %>
    <%= form.text_field :name, class:'mt-1 w-full border-0 ring-1 px-3 py-1.5 ring-gray-300 rounded-md ' %>
</div>
<div>    
    <%= form.label :body, class:'text-grey-700 text-sm font-medium'  %>
    <%= form.text_area :body, class:'mt-1 w-full border-0 ring-1 px-3 py-1.5 ring-gray-300 rounded-md ' %>
 </div>
 <div>
    <%= form.submit submit_text, class:'px-4 py-2 bg-indigo-600 text-white rounded-md'%>
</div>
<% end %>
