<div class ="flex justify-between items-center">
<h1 class ="text-2xl font-semibold">My notes </h1>
<%= link_to 'Create note', new_note_path, class: 'px-4 py-2 bg-indigo-600 text-white rounded-md' %>
</div>

<table class="mt-6 w-full">
    <thead>
        <tr class="bg-gray-100 text-left">
            <th class="py-3 px-3">ID</th>
            <th>Name</th>
            <th>Body</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% @notes.each do |note|%>
        <tr class="border-t border-gray-100"> 
            <td class="py-2 px-3"><%= note.id %></td>
            <td><%= link_to note.name, note  %></td>
            <td><%= note.body %></td>
            <td> 
                <div class="flex">
                <%= link_to 'Edit', edit_note_path(note), class:'px-3 py-1.5 rounded-md border border-grey-400 rounded-md' %>
                <%= button_to 'Delete', note, method: :delete, class: 'ml-2 px-3 py-1.5 bg-rose-100 text-rose-400 rounded-md'  %>
                </div>
            </td>
        </tr>
        <% end  %>
    </tbody>
</table>